*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    /*REGLA Y BUENA PRACTICA PARA LAS IMAGENES*/
    img{
        max-width: 100%;
    }
    
    body{
        font-family: 'Montserrat', sans-serif;
    }

    .logo{
        width: 100px;
        margin: 10px ;
    }

    .menu li a{
        color: black;
        text-transform: uppercase;
    }

    header{
        background-color: #33CCFF;
        border: solid 1px;
        white-space: nowrap;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.45);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        gap: 20px;
    }
    

    .menu{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* .enlace{
        position: absolute;
        padding: 20px 50px;
    } */

    @media (min-width: 768px){
        header{
            flex-direction: row;
            justify-content: space-around;
            height: 80px;
        }
        .menu{
            flex-direction: row;
        }

        .menu a{
            padding: 10px;
            justify-content: center;        
        }

        .menu li a:hover {
            background: #046ad0;
            transition: all .5s;
        }
    }

    /* .checkbtn{
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    } */



